$size: 60px;
$color: white;

.img {
  background-image: url("https://thumbs.gfycat.com/AdoredPerfectHousefly-size_restricted.gif");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.text {
  background-image: radial-gradient(
    ellipse closest-corner at 50% 50%,
    rgba(0, 0, 0, 0) 1%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  h1 {
    font-size: 2 * $size;
    padding-top: 230px;
    background-repeat: no-repeat;
    background-position: center 120px;
    color: $color;
  }
  p {
    color: $color;
    font-size: $size;
    margin-bottom: 60px;
  }
  .link {
    font: bold 16px Arial;
    text-decoration: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    color: $color;
    margin: 0 auto;
    width: 20%;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 900px) {
  .text {
    top: -150px;
    h1 {
      font-size: $size * 9/10;
    }
    p {
      font-size: $size * 4/5;
    }
    .link {
      font-size: $size / 4;
    }
  }
}

@media screen and (max-width: 700px) {
  .img {
    background-size: auto;
  }
  .text {
    top: -100px;
    h1 {
      font-size: $size * 2/3;
    }
    p {
      font-size: $size / 2;
    }
    .link {
      font-size: $size / 6;
    }
  }
}
